body {
    background-image: url("darksky.jpg");
    background-size: cover;

    /* background-position: center; */
    background-repeat: no-repeat;
    color: white;
}

.icon-white {
    color: white;
}

/*generell setting for header*/

.navBar {
    padding: 20px;
    position: absolute;
    top: 3vh;
    display: flex;
    position: sticky;
    margin-top: 1vh;
}

.navRight {
    position: absolute;
    top: 3vh;
    right: 5vw;
}

.navLeft {
    position: absolute;
    top: 3vh;
    left: 5vw;
}

#headline {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    position: sticky;
}

h1 {
    font-size: 5vw;
    text-shadow: 3px 3px 5px rgb(136, 134, 134);
}

h2 {
    font-size: 3vw;
    text-shadow: 3px 3px 5px rgb(136, 134, 134);
}

h4 {
    font-size: 1vw;
    text-shadow: 3px 3px 5px rgb(136, 134, 134);
}


/* ----------setting to hide and display pages-------------- */
/* 
.pages {
    /* display: none; */
/* width: 100%;
min-height: 100%;
position: absolute;
padding: 1rem 2rem;
} */

/* .active {
    display: block;
} */

/* h1 {
    transition: all 0.4s;
}

*/
/*-------------first page style---------*/
/* #carouselID div {
    max-width: 320px;
    max-height: 380px;
} */

#firstPage {
    visibility: visible;
}

#secondPage {
    visibility: hidden;
}

.carousel-item {
    text-align: center;
}


#searchContainer {
    padding: 20px;
    position: relative;
    top: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#searchContainer input {
    width: 220px;
    border-radius: 5px;
    text-align: center;
    color: rgb(32, 175, 163);
}

#searchContainer button {
    width: 75px;
    height: 30px;
    font-optical-sizing: auto;
}

#searchButton {
    vertical-align: 25%;
    /* color: white; */
}

.search {
    box-shadow: 2px 2px 5px white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#errorDiv {
    /* max-width: 20rem;
    max-height: 12rem; */
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    visibility: hidden;
}

.errorText {
    flex-flow: row wrap;
    text-align: center;
    align-self: center;

}

#dropdownList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;

}

.divTR {
    flex-flow: row wrap;
    text-align: center;
    align-self: center;
}



/*-----------back button--------------*/

#backBTN {
    /* width: 47px;
    height: 17px; */
    text-align: center;
    font-optical-sizing: auto;
    font-size: 1vw;
    border-radius: 5px;
    text-align: center;
}