body {
    background: url("darksky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
}

.icon-white {
    color: white;
}

/*generell setting for header*/
#header {
    position: sticky;
}

.navBar {
    position: absolute;
    display: flex;
    position: sticky;
    /* margin-top: 1vh; */
}

.navRight {
    position: absolute;
    right: 5vw;
}

.navLeft {
    position: absolute;
    left: 5vw;
}

#headline {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1 {
    font-size: 5vw;
    text-shadow: 4px 4px 6px rgb(136, 134, 134);
}

h2 {
    font-size: 3vw;
    text-shadow: 3px 3px 5px rgb(136, 134, 134);
}

h4 {
    font-size: 1vw;
    text-shadow: 3px 3px 5px rgb(136, 134, 134);
}


/* .carousel {
    display: none;
} */

/*-------------first page style---------*/
.loginPage {
    display: none;
}

.firstPage {
    display: none;
}

.secondPage {
    display: none;
}

.thirdPage {
    display: none;
    padding-top: 50px;
}

.fourthPage {
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item {
    text-align: center;
}


#searchContainer {
    margin: 50px 5px 30px 5px;
    position: relative;
    /* top: 75%; */
    display: flex;
    justify-content: center;
    text-align: center;
    visibility: visible;
}

#searchContainer input {
    width: 220px;
    border-radius: 5px;
    text-align: center;
    color: rgb(32, 175, 163);
}

#searchContainer button {
    width: 75px;
    height: 30px;
    font-optical-sizing: auto;
}

#searchButton {
    vertical-align: 50%;
    color: white;
}

.search {
    box-shadow: 2px 2px 5px white;
    border: none;
    border-radius: 5px;

}

#errorDiv {
    position: relative;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.errorText {
    flex-flow: row wrap;
    text-align: center;
    align-self: center;

}

#dropdownList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;

}

.divTR {
    flex-flow: row wrap;
    text-align: center;
    align-self: center;
}

/*-------------setting up second Page-----*/
.navBTN {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.contextInfo {
    width: 25rem;
    position: relative;
    text-align: center;
    /* vertical-align: middle; */

}

/*-------------setting up fourth Page------*/

#campDiv {
    max-width: 200px;
    max-height: 300px;
}

#campDiv h1 {
    text-align: center;
}


/*-----------back button--------------*/

#backBTN {
    font-optical-sizing: auto;
    font-size: 1vw;
    padding: 30px;

}

#button {
    max-width: auto;
    max-height: 2em;
    border-radius: 5px;
    text-align: center;

}

/*-----------setting up chat Page----------*/

#logoutBTN {
    max-width: 12px;
    max-height: 10px;
}

#user {
    display: flex;
    justify-content: center;
}

#user p {
    /* padding-left: 5rem; */
    padding-right: 20px;

}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 10%;

}